---
layout: default
title: Naman Mittal
---
<div class="home-wrap">

  {% include header.html %}

  <div class="sections">

    {% include section-about.html %}
    {% include section-food.html %}
    {% include section-code.html %}
    {% include section-brief.html %}
    {% include section-articles.html %}
    {% include section-social.html %}

    <!--
    {% include columns.html %}
    <div style="height: 2000px"></div>
    -->
    <!-- All the sections will come here -->





  </div>

</div>
