<section class="food">
  <div class="flex flex--center">
    <div class="col-50">
      <div class="food-wrap">
        <a href="#" style="background-image: url(assets/img/burg.jpg)" class="img-thumb">
          <div class="meta">
            <div class="name">
              hello
            </div>
            <div class="date">
              ss
            </div>
         </div>
       </a>
        <a href="#" style="background-image: url(assets/img/hc.jpg)" class="img-thumb">
          <div class="meta">
            <div class="name">
              hello
            </div>
            <div class="date">
              ff
            </div>
         </div>
       </a>
        <a href="#" style="background-image: url(assets/img/hrc.jpg)" class="img-thumb">
          <div class="meta">
            <div class="name">
              hello
            </div>
            <div class="date">
              ff
            </div>
         </div>
        </a>
        <a href="#" style="background-image: url(assets/img/jw.jpg)" class="img-thumb">
          <div class="meta">
            <div class="name">
              hello
            </div>
            <div class="date">
              ff
            </div>
         </div>
        </a>
        <a href="#" style="background-image: url(assets/img/pizza.jpg)" class="img-thumb">
          <div class="meta">
            <div class="name">
              hello
            </div>
            <div class="date">
              fd
            </div>
         </div>
        </a>
        <a href="#" style="background-image: url(assets/img/star.jpg)" class="img-thumb">
          <div class="meta">
            <div class="name">
              hello
            </div>
            <div class="date">
              def
            </div>
         </div>
        </a>
        <a href="#" style="background-image: url(assets/img/brst.jpg)" class="img-thumb">
          <div class="meta">
            <div class="name">
              hello
            </div>
            <div class="date">
              def
            </div>
         </div>
        </a>
        <a href="#" style="background-image: url(assets/img/fries.jpg)" class="img-thumb">
          <div class="meta">
            <div class="name">
              hello
            </div>
            <div class="date">
              def
            </div>
         </div>
        </a>
        <a href="#" style="background-image: url(assets/img/cheese.jpg)" class="img-thumb">
          <div class="meta">
            <div class="name">
              hello
            </div>
            <div class="date">
              def
            </div>
         </div>
        </a>
      </div>
    </div>

    <div class="col-50 flex flex--center order-first">
      <div class="col-1">
        <div class="desc-wrap">
          <p class="words outdented"> …chasing delicious food…</p>
          <a href="https://instagram.com/namanmittal009/" class="click-button">View Instagram</a>
        </div>
      </div>
    </div>
  </div>
</section>
