<div class="brief-bg">

  <section class="brief">
    <div class="flex flex--space-around">
        <div class="col-50 order-first">
          <a href="#" style="background-image: url(assets/img/article.png)"class="col-1 img4"><div class="opac">sup</div></a>
        </div>
        <div class="col-1 brief-wrap">
          <p class="words outdented">...reading articles...</p>
        </div>
    </div>
  </section>

  <section class="brief">
    <div class="flex flex--center">
      <div class="col-50">
        <a href="#" style="background-image: url(assets/img/tv.png)"class="col-1 img4"><div class="opac">sup</div></a>
      </div>
    <div class="col-50 flex flex--center order-first">
      <div class="col-1">
        <div class="brief-wrap">
          <p class="words outdented">…watching movies and tv shows…</p>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section class="brief">
    <div class="flex flex--space-around">
      <div class="col-50 order-first">
        <a href="#" style="background-image: url(assets/img/android-music.png)"class="col-1 img4"><div class="opac">sup</div></a>
      </div>
      <div class="col-1 brief-wrap">
        <p class="words outdented">...learning to make android apps...</p>
      </div>
    </div>
  </section>

  <section class="brief">
    <div class="flex flex--center">
      <div class="col-50">
        <a href="#" style="background-image: url(assets/img/imac.png)"class="col-1 img4"><div class="opac">sup</div></a>
      </div>
      <div class="col-50 flex flex--center order-first">
        <div class="col-1">
          <div class="brief-wrap">
            <p class="words outdented">…designing and creating stuff…</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="brief">
    <div class="flex flex--space-around">
      <div class="col-50 order-first">
        <a href="#" style="background-image: url(assets/img/gaming.png)"class="col-1 img4"><div class="opac">sup</div></a>
      </div>
      <div class="col-1">
        <p class="words outdented">...playing video games...</p>
      </div>
    </div>
  </section>

</div>
