<!--<section class="social">
  <div class="flex flex--space-around">
      <div class="col-2">
        <h1 class="words">Contact Me</h1>
      </div>
  </div>
</section>


<section class="social">
  <div class="flex flex--space-around">
    <div class="col-1">
      <div class="flex flex--space-around">
        <a href="" style=" background-image: url(assets/img/Twitter.png) " class="col-1 img"> <dib class="opac"> sup </dib> </a>
      </div>
    </div>
    <div class="col-1">
      <div class="flex flex--space-around">
        <a href="" style=" background-image: url(assets/img/Facebok.png) " class="col-1 img"> <dib class="opac"> sup </dib> </a>
      </div>
    </div>
</section>

<section class="social">
  <div class="flex mail">
    <div class="col-2">
      <p class="words2">mittal.nam30@gmail.com</p>
    </div>
  </div>
</section>

<section class="social">
  <div class="flex flex--space-around">
      <div class="flex flex--space-around">
        <a href="" style=" background-image: url(assets/img/Github.png) " class="col-1 img"> <dib class="opac"> sup </dib> </a>
      </div>
      <div class="flex flex--space-around">
        <a href="" style=" background-image: url(assets/img/Instagram.png) " class="col-1 img"> <dib class="opac"> sup </dib> </a>
      </div>

  </div>
</section>
