section.food
  background:
    image: url(../img/foof-bg.jpg)
    position: center
    size: cover

  .words
    color: #FF5656
    font-size: 48px

  .click-button
    color: #FF5656

  .col-1
    display: flex
    align-items: center

  .food-wrap
    display: block

    .img-thumb
      display: block
      float: left
      background:
        size: cover
        position: center
      position: relative
      width: calc(33.33% - 18px)
      height: 190px
      margin: 5px
      border: 3px solid #FF5656

      &:hover
        transform: scale(1.1)
        transition: transform 100ms ease-in-out

    .name
      opacity: 0

    .date
      opacity: 0

  @media (max-width: 640px)
    .desc-wrap
      margin-top: 100px

  @media (max-width: 1000px) and (max-width: 640px)
    .img-thumb
      width: 33.33%
    .outdented
      text-indent: 0
